*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    display: flex;
    height:40px;
    justify-content:space-between;
    margin-bottom: 30px;

}
.hm_logo{
    height: 56px;
    width:50px;
    margin-left: 8px;
    margin-top: 5px;
}
.profile{
    margin-left: 400px;

}
#love{
    height:30px;
    margin-left:30px;
    margin-top: 18px;
    margin-right: 10px;
}
#profile{
    height:30px;
    margin-left: 40px;
    
}
#search{
    height: 20px;
    margin-left: 500px;
    margin-right: 0px;
    margin-top: 26px;
}
#bag{
    height:25px;
    margin-top: 10px;
    margin-right: 40px;
    margin-top: 17px;
}
.basic{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}
.right_basic{
    margin-top: 20px;
}
#kindel{
    height:450px;
   width:1600px;
}
#ana{
    height:900px;
}
#michey{
    height:675px;
}
#malik{
    height:675px;
    width:392Px;
}
#david{
    height:675px;
}
#chris{
    height:675px;
    width: 355px;
}
/*.male{
    display: flex;
    flex-direction:row;
}*/
#table{
    width: 1500px;
    height: 350px;
    border-spacing: 15px;
}
#hm{
    height:70px;
    width: 75px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 60px;
}
#india{
    margin-left:20px ;
    margin-bottom: 50px;
}
#content{
    margin-left: 18px;
    font-size: 13px;
}
.lastline{
    display: flex;
    flex:row;
}
#insta_logo{
    height: 30px;
    left: 500px;
}
.ind{
    display: flex;
    flex-direction: row;
}